.hero {
    background-color: hsl(0, 0%, 98%);
    overflow-x: hidden;
}
.mockup {
    position: absolute;
    top: -45px;
    right: -105px;
    z-index: 1;
    width: 48%;
}

.bg {
    position: absolute;
    top: -130px;
    z-index: 0;
    right: -200px;
    width: 72%;
}

.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    /* height: 80vh; */
    padding-right: 2rem;
    height: 85vh;
}

@media only screen and (max-width: 767px) {
    .description {
        align-items: center;
        padding-right: 0;
        text-align: center;
        justify-content: flex-start;
        height: 45vh;
    }
    .bg {
        position: relative;
        top: -80px;
        z-index: 0;
        right: 40px;
        width: 154%;
    }
    .mockup {
        position: absolute;
        top: 36px;
        right: 0;
        width: 100%;
    }
}
