.navbar {
    background-color: white;
    position: relative;
    z-index: 2;
}

.navItem {
    color: hsl(0, 0%, 82%);
    font-weight: 500;
}
.navItem:hover {
    color: hsl(0, 0%, 17%);
    font-weight: 500;
    border-bottom: #31d35c;
    width: 100%;
}
.navItem::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: 25%;
}
.navItem:hover::after {
    width: 5%;
    height: 2px;
    background-color: #31d35c;
}
