.navbar {
    background-color: white;
    /* position: absolute; */
    z-index: 2;
    padding: 0;
}

.navItem {
    color: hsl(0, 0%, 82%);
    font-weight: 500;
    padding: 0;
}
.navItem:hover {
    color: hsl(0, 0%, 17%);
    font-weight: 500;
    transition: all 0.5s ease-out;
}
.navItem:hover:after {
    content: "";
    position: absolute;
    width: 53px;
    height: 5px;
    display: block;
    background-image: linear-gradient(to right, hsl(192, 70%, 51%), #31d35c);
    transition: all 0.3s ease;
    bottom: 0;
}
.navBrand {
    margin: 1rem 0;
}

@media only screen and (max-width: 767px) {
    .navItem {
        color: hsl(0, 0%, 17%);
        text-align: center;
        background-color: aquamarine;
        margin: 0 1rem;
        padding: 1rem 0;
    }
    .navItem:first-child {
        margin-top: 2rem;
    }
}
