body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "publicSans";
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "publicSans";
    src: url("./assets/fonts/PublicSans-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "publicSans";
    src: url("./assets/fonts/PublicSans-Medium.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "publicSans";
    src: url("./assets/fonts/PublicSans-Regular.ttf");
    font-weight: 300;
}
