.cardBody {
    border: none;
}
.pl {
    padding-left: 0;
}
.image {
    width: 4rem;
    height: 4rem;
}
.title {
    color: hsl(0, 0%, 17%);
    font-weight: 500;
}
.description {
    color: hsl(233, 8%, 62%);
}

@media screen and (max-width: 768px) {
    .cardBody {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .pl {
        padding-left: 1rem;
    }
}
